* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d3f1d6;
  background-image: linear-gradient(#1b1b1b 37%, #48d960, #1b1b1b);
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1 {
  margin: 1vh 0;
  color: rgb(253, 154, 6);
}

.Centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Warning {
  text-align: center;
  color: white;
  margin: 0;
  height: 4vh;
  font-size: 90%;
  background-color: red;
}

/* Welcome */

/* HEADER */

.Header {
  margin: 8px;
  flex-direction: column;
  background-color: black;
  background-image: url("../assets/images/HeaderBackground.jpg");
  background-size: cover;
  background-position: center;
  height: 25vh;
}

.Header-Div {
  width: 100%;
  height: 20vh;
}

.Header-Title {
  font-size: 3vh;
  font-weight: bold;
}

.Header-Logo-Title {
  background-color: rgb(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Navigation */
nav {
  height: 5vh;
  background-color: green;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

.Nav-Ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Nav-Li {
  list-style: none;
}

.Nav-Link {
  padding: 4px 20px;
  color: white;
  text-decoration-line: none;
}

.Active-Link {
  background-color: black;
  border-radius: 10px;
}

/* FOOTER */

.Footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: calc(100% - 32px);
  border-top: 4px solid black;
  margin: 30px 8px 0 8px;
  padding: 8px;
  height: 100px;
  background-color: #0000;
}

/*-------------------------- MAIN- ---------------------------- */

.Main {
  margin: 8px;
  min-height: 60vh;
}

.Division {
  margin: 1.5vh 0;
  height: 30vh;
  width: 100%;
}

.Carousel {
  width: 100vw;
  overflow: scroll;
  scroll-behavior: smooth;

  white-space: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.Carousel-Component {
  color: green;
  height: 23vh;
  width: 200px;
  margin: 10px;
  background-color: black;
  border-radius: 5vh;
  flex-direction: column;
  box-shadow: 20px 20px 100px 2px rgb(4, 109, 29);
}

.Carousel-Component:hover {
  background-image: radial-gradient(rgba(0, 0, 0), rgba(36, 241, 0));
}

.Carousel-Component:active {
  background-image: radial-gradient(rgba(0, 0, 0), rgba(36, 241, 0));
}

.Carousel-Component span {
  width: 200px;
  padding: 0 10px;
  text-align: center;
  text-wrap: balance;
  padding-bottom: 3vh;
  color: white;
}

/* COMMUNITY */

.Community-Span {
  color: white;
}

.Social-Medias {
  justify-content: flex-start;
  width: calc(100vw - 16px);
  overflow-x: scroll;
}

.social {
  color: white;
  flex-shrink: 0;
  height: 175px;
  width: 200px;
  margin: 10px;
  background-color: black;
  box-shadow: 20px 20px 100px 2px rgb(4, 109, 29);
  flex-direction: column;
  border-radius: 5vh;
}

.social:hover {
  background-image: radial-gradient(rgba(0, 0, 0), rgba(36, 241, 0));
}

.social:active {
  background-image: radial-gradient(rgba(0, 0, 0), rgba(36, 241, 0));
}
