* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d3f1d6;
  background-image: linear-gradient(#ffffff, #48d960);
  background-repeat: no-repeat;
  min-height: 100vh;
}

h1 {
  margin: 1vh 0;
  color: rgb(253, 154, 6);
}

.Centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Warning {
  text-align: center;
  color: white;
  margin: 0;
  height: 4vh;
  background-color: red;
}

/* Welcome */

.Welcome {
  height: 100vh;
  flex-direction: column;
}

.Welcome-Logo {
  margin-bottom: 20vh;
}

.Welcome-Link {
  color: white;
  background-color: green;
  width: 40vw;
  height: 6vh;
  text-align: center;
  text-decoration-line: none;
  font-size: 2vh;
  font-weight: bold;
  border-radius: 4vmin;
}

/* HEADER */

.Header {
  margin: 8px;
  flex-direction: column;
  background-color: black;
  background-image: url("../assets/images/HeaderBackground.jpg");
  background-size: cover;
  height: 25vh;
}

.Header-Div {
  width: 100%;
  height: 20vh;
}

.HeaderTitle {
  font-size: 3vh;
  font-weight: bold;
}

.Header-Logo-Title {
  background-color: rgb(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Navigation */
nav {
  height: 5vh;
  background-color: green;

  width: 100%;
}

.Nav-Ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Nav-Li {
  list-style: none;
}

.Nav-Link {
  padding: 4px 20px;
  color: white;
  text-decoration-line: none;
}

.Active-Link {
  background-color: black;
  border-radius: 10px;
}

/* FOOTER */

.Footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: calc(100% - 32px);

  margin: 30px 8px 0 8px;
  padding: 8px;
  height: 100px;
  background-color: green;
}

/*-------------------------- MAIN- ---------------------------- */

.Main {
  margin: 8px;
}

.Division {
  margin: 1.5vh 0;
  height: 30vh;
  width: 100%;
}

.Carousel {
  width: 100vw;
  overflow: scroll;
  scroll-behavior: smooth;

  white-space: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

@keyframes scroll-horizontal {
  0% {
    left: 100vw;
  }

  100% {
    left: -100vw;
  }
}

.Carousel-Component {
  color: green;
  height: 23vh;
  width: 200px;
  margin: 10px;
  background-color: black;
  border-radius: 5vh;
  flex-direction: column;
}

.Carousel-Component span {
  width: 200px;
  padding: 0 10px;
  text-align: center;
  text-wrap: balance;
  padding-bottom: 3vh;
  color: white;
}

/* COMMUNITY */

.Social-Medias {
  justify-content: flex-start;
  width: calc(100vw - 16px);
  overflow-x: scroll;
}

.social {
  color: white;
  flex-shrink: 0;
  height: 175px;
  width: 200px;
  margin: 10px;
  background-color: black;
  flex-direction: column;
  border-radius: 5vh;
}
