.Nav-Li:hover {
  background-color: #06f806;
  border-radius: 10px;
}

.Game {
  transform: scale(1);
  animation: Pulse 1s infinite;
}

@keyframes Pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.07);
  }

  100% {
    transform: scale(1);
  }
}
