header {
  height: 25vh;
  width: 100vw;
  background-size: cover;
}

.Download-Game {
  font-size: 7vmin;
  height: 30vh;
  flex-direction: column;
  justify-content: space-around;
}

.Download-btn {
  margin-bottom: 80px;
  background-color: #0f0;
  height: 5vh;
  width: 90vw;
  border-radius: 20px;
  border-color: none;
}

.Download-btn:hover {
  color: white;
  background-color: rgb(4, 109, 29);
}

.Download-H1 {
  font-size: 10vmin;
}

@media (min-width: 800px) {
  .Download-Game {
    justify-content: center;
    height: fit-content;
  }
}
