@media (min-width: 800px) {
  .Header {
    height: 90vh;
  }

  .Header-Div {
    height: 80vh;
  }

  .Header-Logo-Title {
    background-color: #fff0;
  }

  .Header-Title {
    font-size: 40pt;
  }

  .Division {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Carousel {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Social-Medias {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav {
    height: 10vh;
    font-size: 30pt;
  }

  .Community-Span {
    font-size: 20pt;
    margin: 10px;
  }

  .Community {
    height: 35vh;
  }

  .Warning {
    font-size: 30pt;
    height: 100px;
  }

  .Game-Header {
    height: 70vh;
    background-position: center;
  }
}
