.Welcome {
  height: 100vh;
  flex-direction: column;
}

.Welcome-Logo {
  margin-bottom: 20vh;
  width: 60vw;
}

.Welcome-Link {
  color: white;
  background-color: green;
  width: 40vw;
  height: 6vh;
  text-align: center;
  text-decoration-line: none;
  font-size: 2vh;
  font-weight: bold;
  border-radius: 4vmin;
}

@media (min-width: 800px) {
  .Welcome-Logo {
    width: 20vw;
  }
}
