* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
}

.Header {
  margin: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  height: 26vh;
}

.HeaderTitle {
  font-size: 7vmin;
  font-weight: bold;
}

.Main {
  margin: 8px;
}

.Footer {
  margin: 8px;
  height: 100px;
  background-color: green;
}
